<!-- Main -->
<div *ngIf="isMain" class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>ِAdmin Board</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <h1 class="text-muted">Events</h1>
        <button (click)="toggleAddEvent()" class="my-btn  p-button-success" pButton type="button"
          label="Add Event"></button>
        <button (click)="toggleEditEvent()" class="my-btn p-button-warning" pButton type="button"
          label="Edit Event"></button>
        <button (click)="toggleDeleteEvent()" class="my-btn p-button-danger" pButton type="button"
          label="Delete Event"></button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <h1 class="text-muted">Speakers</h1>
        <button (click)="toggleAddSpeaker()" class="my-btn p-button-success" pButton type="button"
          label="Add Speaker"></button>
        <button (click)="toggleEditSpeaker()" class="my-btn p-button-warning" pButton type="button"
          label="Edit Speaker"></button>
        <button (click)="toggleDeleteSpeaker()" class="my-btn p-button-danger" pButton type="button"
          label="Delete Speaker"></button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <h1 class="text-muted">Students</h1>
        <button class="my-btn p-button-success" pButton type="button" label="Add Student"></button>
        <button class="my-btn p-button-warning" pButton type="button" label="Edit Student"></button>
        <button class="my-btn p-button-danger" pButton type="button" label="Delete Student"></button>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-around">
      </div>
    </div>
  </div>
</div>



<!-- Event -->

<!-- Add Event -->
<div *ngIf="isAddEvent" class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Add Event</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <input [(ngModel)]="title" type="text" placeholder="Title">
        <br>
        <input [(ngModel)]="date" type="date" placeholder="Date">
        <ng-select placeholder="Main Speaker" [(ngModel)]="mainSpeakerId">
          <ng-option *ngFor="let sp of speakersList" [value]="sp._id" [disabled]="sp.disabled">{{sp.userName}}
          </ng-option>
        </ng-select>
        <ng-select placeholder="Other Speakers" [multiple]="true" [(ngModel)]="selectedOtherSpeakers">
          <ng-option *ngFor="let sp of speakersList" [value]="sp._id" [disabled]="sp.disabled">{{sp.userName}}
          </ng-option>
        </ng-select>
        <ng-select placeholder="Students" [multiple]="true" [(ngModel)]="selectedStudents">
          <ng-option *ngFor="let std of studentsList" [value]="std._id" [disabled]="std.disabled">{{std.email}}
          </ng-option>
        </ng-select>
        <button (click)="addNewEvent()" class="my-btn p-button-success" pButton type="button"
          label="Add Event"></button>
      </div>
    </div>
    <br>
  </div>
</div>
<!--  -->

<!-- Edit Event -->
<div *ngIf="isEditEvent" class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Edit Event</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <ng-select (change)="fillSelectedEventData($event)" placeholder="Choose Event" [(ngModel)]="eventId">
          <!-- <input type="text"> -->
          <ng-option *ngFor="let ev of eventsList" [value]="ev._id" [disabled]="ev.disabled">{{ev.title}}
          </ng-option>
        </ng-select>
        <br>
        <input [(ngModel)]="date" type="date" placeholder="Date">
        <ng-select placeholder="Main Speaker" [(ngModel)]="mainSpeakerId">
          <ng-option *ngFor="let sp of speakersList" [value]="sp._id">{{sp.userName}}
          </ng-option>
        </ng-select>
        <ng-select placeholder="Other Speakers" [multiple]="true" [(ngModel)]="selectedOtherSpeakers">
          <ng-option *ngFor="let sp of speakersList" [value]="sp._id" [disabled]="sp.disabled">{{sp.userName}}
          </ng-option>
        </ng-select>
        <ng-select placeholder="Students" [multiple]="true" [(ngModel)]="selectedStudents">
          <ng-option *ngFor="let std of studentsList" [value]="std._id" [disabled]="std.disabled">{{std.email}}
          </ng-option>
        </ng-select>
        <button class="my-btn p-button-success" pButton type="button" label="Add Event"></button>
      </div>
    </div>
    <br>
  </div>
</div>
<!--  -->

<!-- SPEAKER -->
<!-- Add Speaker -->
<div *ngIf="isAddSpeaker" class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Delete Event</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <input type="text" [(ngModel)]="speakerEmail" pInputText placeholder="Email" />
        <br><br>
        <p-password [(ngModel)]="speakerPassword" placeholder="Password"></p-password>
        <br>
        <br>
        <input type="text" [(ngModel)]="speakerUserName" pInputText placeholder="UserName" />
        <br><br>
        <input type="text" [(ngModel)]="speakerAddress" pInputText placeholder="Address" />
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <button (click)="addSpeaker()" class="my-btn p-button-success" pButton type="button"
        label="Add Speaker"></button>
    </div>
  </div>
  <br>
</div>
<br>
<!--  -->
<!-- Delete Event -->
<div *ngIf="isDeleteEvent" class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Delete Event</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <ng-select placeholder="Choose Event" [(ngModel)]="eventId">
          <ng-option *ngFor="let ev of eventsList" [value]="ev._id" [disabled]="ev.disabled">{{ev.title}}
          </ng-option>
        </ng-select>
        <button (click)="deleteEvent()" class="my-btn p-button-danger" pButton type="button"
          label="Delete Event"></button>
      </div>
    </div>
    <br>
  </div>
</div>
<!--  -->
