<!-- Main -->
<div *ngIf="isMain" class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>ِAdmin Board</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <h1 class="text-muted">Events</h1>
        <button (click)="toggleAddEvent()" class="my-btn  p-button-success" pButton type="button"
          label="Add Event"></button>
        <button (click)="toggleEditEvent()" class="my-btn p-button-warning" pButton type="button"
          label="Edit Event"></button>
        <button (click)="toggleDeleteEvent()" class="my-btn p-button-danger" pButton type="button"
          label="Remove Event"></button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <h1 class="text-muted">Students</h1>
        <button class="my-btn p-button-success" pButton type="button" label="Add Speaker"></button>
        <button class="my-btn p-button-warning" pButton type="button" label="Edit Speaker"></button>
        <button class="my-btn p-button-danger" pButton type="button" label="Remove Speaker"></button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <h1 class="text-muted">Speakers</h1>
        <button class="my-btn p-button-success" pButton type="button" label="Add Student"></button>
        <button class="my-btn p-button-warning" pButton type="button" label="Edit Student"></button>
        <button class="my-btn p-button-danger" pButton type="button" label="Remove Student"></button>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-around">
      </div>
    </div>
  </div>
</div>



<!-- Event -->

<!-- Add Event -->
<div *ngIf="isAddEvent" class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Add Event</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <input [(ngModel)]="title" type="text" placeholder="Title">
        <input [(ngModel)]="date" type="date" placeholder="Date">
        <ng-select placeholder="Main Speaker" [multiple]="true" [(ngModel)]="mainSpeakerId">
          <ng-option *ngFor="let sp of speakersList" [value]="sp._id" [disabled]="sp.disabled">{{sp.userName}}
          </ng-option>
        </ng-select>
        <ng-select placeholder="Other Speakers" [multiple]="true" [(ngModel)]="selectedOtherSpeakers">
          <ng-option *ngFor="let sp of speakersList" [value]="sp._id" [disabled]="sp.disabled">{{sp.userName}}
          </ng-option>
        </ng-select>
        <ng-select placeholder="Students" [multiple]="true" [(ngModel)]="selectedStudents">
          <ng-option *ngFor="let std of studentsList" [value]="std._id" [disabled]="std.disabled">{{std.email}}
          </ng-option>
        </ng-select>
        <button (click)="addNewEvent()" class="my-btn p-button-success" pButton type="button"
          label="Add Event"></button>
      </div>
    </div>
    <br>
  </div>
</div>
