<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded w-25 p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Sign Up</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <input type="text" [(ngModel)]="email" pInputText placeholder="Email" />
        <br><br>
        <p-password [(ngModel)]="password" placeholder="Password"></p-password>
        <br>
        <div *ngIf="isSpeaker">
          <br>
          <input type="text" [(ngModel)]="userName" pInputText placeholder="UserName" />
          <br><br>
          <input type="text" [(ngModel)]="address" pInputText placeholder="Address" />
        </div>
        <br>
        <p-checkbox name="groupname" [(ngModel)]="isSpeaker" [binary]="true" label="Speaker"></p-checkbox>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-around">
        <a class="btn btn-outline-success mr2" (click)="signUp()">Sign Up</a>
        <a class="btn btn-outline-warning" routerLink="/login">Log In</a>
      </div>
    </div>
  </div>
</div>
