<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded w-25 p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1 *ngIf="isEditMode == false">Info</h1>
      <h1 *ngIf="isEditMode">Edit</h1>
    </div>
    <br>
    <div *ngIf="isEditMode == false" class="d-flex justify-content-center align-items-center">
      <div>
        <br><br>
        <h3>Email: {{email}}</h3>
        <h3>Password: {{password}}</h3>
      </div>
    </div>
    <div *ngIf="isEditMode" class="d-flex justify-content-center align-items-center">
      <div>
        <br><br>
        <input type="text" [(ngModel)]="email" pInputText placeholder="Email" />
        <br><br>
        <input type="password" [(ngModel)]="password" pInputText placeholder="Password" />
      </div>
    </div>
    <div *ngIf="isEditMode" class="d-flex justify-content-center align-items-center">
      <div>
        <br><br>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-around">
        <a *ngIf="isEditMode == false" class="btn btn-outline-warning" (click)="showEditOptions()">Edit</a>
        <a *ngIf="isEditMode" class="btn btn-outline-success" (click)="submitNewInfoData()">Submit</a>
      </div>
    </div>
  </div>
</div>
