<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="shadow p-3 mb-5 bg-white rounded w-25 p-3">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Log In</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <input type="text" [(ngModel)]="email" pInputText placeholder="Email" />
        <br><br>
        <p-password [(ngModel)]="password" placeholder="Password"></p-password>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-around">
        <a class="btn btn-outline-success mr2" (click)="logIn()">Log In</a>
        <a class="btn btn-outline-warning" routerLink="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center">
  <div *ngIf="incorrect" class="alert alert-danger" role="alert">
    User Name or Password Incorrect!
  </div>
</div>

